<%- include("header") -%>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">The weather is currently <%= description %></h1>
    <p class="lead">The temperature in <%= city %> is <%= temperature %> &#8451;  </p>
    <img src=<%= url %> alt="">
  </div>
  <div class="text-center content">
  <div class="text-muted">
    Designed by Anton Francis Jeejo
  </div>
</div>
</div>

<%- include("footer") -%>
